
/* font: font-style | font-variant | font-weight | font-size | font-family */
/* background: [background-color] | [background-image] | [background-repeat] | [background-attachment] | [background-position] */

body 
{
    background: #64305d50;  /*  url("../assets/snake-sketch.jpg") no-repeat scroll 0cm 2cm; */
}

h1.title
{
    color: #253626;

    font-family: Times, Cambria, Cochin, Georgia,'Times New Roman', serif;
    font-variant: normal; /* normal / small-caps */
    font-weight: 300;
    font-size: xx-large; /* % or em makes font zoomable -- 'pt' and 'px' makes it absolute */
    letter-spacing: 12px;

    /* font-style: italic; */

}

h2.title
{
    color: #253626;
    font-family: Times, Cambria, Cochin, Georgia,'Times New Roman', serif;
    font-variant: normal; /* normal / small-caps */
}

img.title_img
{
    max-width: 100%;
    display:block;
}

img
{
    max-width: 100%;
    max-height: 100%;

}

.content-line{ /* New line of photos */
    text-align: center;
}
.content-atom{ /* Each photo on new line */
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;
}


/* use span to group one liners and div to group multiliners */
span.small
{
    font-size: x-small;
    letter-spacing: 1px;

}
span.mistake
{
    text-decoration: line-through;
    letter-spacing: 6px;
}
span.tweek
{
    letter-spacing: 1px;
}

span.emphasis
{
    letter-spacing: 24px;
    font-weight: 300;
}


/* Cannot have two elements with the same id in one document. */
#c1-2
{
    color: hotpink;
}

#no_margins
{
    margin: 0px 0px 0px 0px;
}

p
{
    color: #1a251b;

    font-family: Times, Cambria, Cochin, Georgia,'Times New Roman', serif;
    /* text-indent: 30px; */
    text-align: center; /* right | center | justify */
    /* font-size: x-large; */
    padding: 20px 80px 20px 80px;
}

p.list
{
    color: #1a251b;

    font-family: Times, Cambria, Cochin, Georgia,'Times New Roman', serif;
    text-align: justify; /* right | center | justify */
    /* font-size: x-large; */
    padding: 0px 80px 0px 20px;
}

@media only screen and (max-device-width: 480px) {
    p
    {
        color: #1a251b;
        /* text-indent: 30px; */
        text-align: center; /* right | center | justify */
        /* font-size: xx-large; */
        padding: 20px 50px 20px 50px;
    }

    p.list {
        color: #1a251b;
        text-align: justify; /* right | center | justify */
        /* font-size: x-large; */
        padding: 0px 20px 0px 20px;
    }
} 

.tab 
{
    overflow: hidden;
    padding: 0px 0px 10px 0px;
}

.tab button 
{
    background-color: rgb(255, 255, 255);
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 14px 16px; */
    transition: 0.3s;
    width: 20%;

}

  /* Change background color of buttons on hover */
.tab button:hover 
{
background-color: rgba(35, 49, 36, 0.171);
}
  
/* Create an active/current tablink class */
.tab button.active 
{
background-color: #ccc;
}


footer {
    text-align: center;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}


.thumbnail 
{
    width:100%; 
    height:100%; 
    margin: -9.5% 0px -12%;
}

.playbutton
{
    width:100%;
    height:100%; 
}
.playbutton:after 
{
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 120px;
    z-index: 100;
    background: transparent url(../workspace/iconfinder_play_alt_118620.png) no-repeat center;
    pointer-events: none;
}